body {
  margin: 0;
 font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 0px;
  border-top: 5px solid #444;
  margin: 0 ;
}

.logo {
  display: flex;
  align-items: center;
  font-weight: bold;
  margin-left: 10px;
}

.logo .box {
  width: 20px;
  height: 30px;
  border: 3px solid #ffcc00;
  margin-right: 8px;
}

.menu {
  list-style: none;
  display: flex;
  gap: 30px;         
  padding: 0;
   margin: 0 180px 0 0;
}

.menu a {
  text-decoration: none;
  color: black;
  font-weight: bold;
 
}

.right {
  display: flex;
  align-items: center;
  gap: 15px;
}

.search {
  font-size: 18px;
}

.login {
  color: black;
  text-decoration: none;
  font-weight: bold;
}

.subscribe {
  background: #ffcc00;
  color: black;
  text-decoration: none;
  padding: 18px 15px;
  font-weight: bold;
  margin: 0;
}
/* section 1 start */
.first{
  background-color: black;
}
.lastest{
  text-align: center;
  color: white;
  font-size: 30px;
  margin: 0 ;
  padding: 20px 0 0 0;
}
.main{
  color: white;
  display: flex;
  margin-top: 80px;
}
.items{
  display: flex;
}
.left img{
  margin: 0 10px 0 50px;
  width: 20%;
height: 80px;
}
.left p{
  text-align:start;
  font-style: italic;
  margin: 0 ;
}
.why{
  background: url(/IMAGES/badia.jpg )no-repeat center/cover ;
height: 150px;
    padding:5rem 10px 80px 0;
    margin: 0;
    font-size: 20px;
    width: 95%;
}
.why p{
 margin-top: 140px;
}
.twoimage{
  display: grid;
  grid-template-columns: 1fr 1fr;  
  margin-bottom: 30px;
}
.twoimage img{
  width: 100% ;
  height: 180px;
object-fit: cover;
margin:0 ;
}
.twoimage div{
 background-color: white;
    color: black;
    margin-top: 10px;
    width: 93%;
    margin: 20px 0 0 0 ;
}
.twoimage div p{
  margin:  10px;
}
.twoimage div h3{
  margin:  10px;
}
.twoimage div h5{
   margin:  10px;
}
/* section 1 end */

/* section 2 start */
.from{
  text-align: center;
  margin-top: 50px;
  color: white;
 
}
.from h1{
  font-size:60px;
}
.vault{
  display: flex;
  margin: 50px ;
}
.vault img{
  width: 85%;
  height: 190px;
  margin: 0 50px 0 50px;
  display: block;
 text-align: start;
}
.vault p{
  margin: 10px 0 0 50px;
}
.ols{
  background-color: rgb(202, 201, 201);
 padding-bottom: 20px;
}
.ols h4{
  text-align: center;
 padding: 30px 0 0 0;
}
.sprzedaz{
  display: flex;
  margin: 50px;
  background-color: white;
}
.sprzedaz img{
  width: 50%;
  height: 100%;
}
/* section 3start */
.hero {
  position: relative;
  height: 80vh;
  overflow: hidden;
  color: #fff;
  text-align: center;
 padding-bottom: 80px;
}
.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
  filter: brightness(0.5);
}
.content {
  position: relative;
  z-index: 2;
  padding: 40px 20px;
}

.content h1 {
  font-size: 40px;
  margin-bottom: 40px;
  margin-top: 10px;
}
.content p {
 font-size: 18px;
  
}

/* image cards */
.carousel {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 25px;
  margin-top: 5%;
}
.card {
  width: 130px;
  height: 190px;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 5px 15px rgba(0,0,0,0.6);
}
.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* section 3end */

/* section 4 start */

  .geo{
    text-align: center;
    padding: 40px;
    padding-bottom: 10%;
    background-color: black;
    color: white;
  }
  .geo h1{
    font-size: 50px;
    margin-bottom: 6%;
    margin-top: 0px;
  }
  .cards{
    display: flex;
    position: relative;
    padding-bottom:27%;
  }
  .cards img{
    width: 100%;
    height: 300px;
    border-radius: 10px;
  }
  .card1{
    position: absolute;
    top: 38px;
    right: 21%;
  }
  .card1 img{
height: 330px;
width: 60%;
}
  .card2{
    position: absolute;
    top: 22px;
    right: 20%;
  }
  .card2 img{
height: 360px;
width: 55%;
}
  .card3{
    position: absolute;
    top: 35px;
    left: 20%;
  }
  .card3 img{
height: 330px;
width: 60%;
}
  .card4{
    position: absolute;
    top: 20px;
    left: 28%;
  }
  .card4 img{
height: 360px;
width: 60%;
}
  .card5{
    position: absolute;
    left: 28%;
  }
  .card5 img{
height: 400px;
width: 60%;
}
 
 /* section 5 start */
.same{
   background: url(/IMAGES/travel.jpg )no-repeat center/cover ; 
}
.rightcolum{
  margin-left: 30px;
}
.lastest{
  text-align: center;
  color: white;
  font-size: 30px;
  margin: 0 ;
  padding: 20px 0 0 0;
}
.main{
  color: white;
  display: flex;
  margin-top: 80px;
}
.items{
  display: flex;
}
.left{
  margin-bottom: 20px;
}
.left img{
  margin: 0 10px 0 50px;
  width: 20%;
height: 80px;
}
.left p{
  text-align:start;
  font-style: italic;
  margin: 0 ;
}
.wh{
  background: url(/IMAGES/zabara.jpg )no-repeat center/cover ;
height: 150px;
    padding:5rem 10px 80px 0;
    margin: 0;
    font-size: 20px;
    width: 95%;
}
.wh p{
 margin-top: 190px;
}
.twoimage{
  display: grid;
  grid-template-columns: 1fr 1fr;  

}
.twoimage img{
  width: 100% ;
  height: 200px;
object-fit: cover;
margin:0 ;
}
.twoimage div{
 background-color: white;
    color: black;
    margin-top: 10px;
    width: 93%;
    margin: 20px 0 0 0 ;
}
.twoimage div p{
  margin:  10px;
}
.twoimage div h3{
  margin:  10px;
}
.twoimage div h5{
   margin:  10px;
}
/* section 5 end */

/* section 6 start */
.waterfall h1{
  text-align: center;
}
.hole {
  display: flex;
  margin-left: 3%;
}
.hole img{
  width: 75%;
  margin: 30px 0 0 100px;
  height: 100%;
}
.in {
  margin: 1% 10% 0 2%;
  font-size: 18.5px;
}
.in p{
  padding:20px 0;
  margin: 0 10% 0 0 ;
}
.boxs3{
  display: flex;
  justify-content: center;
 }
 .div1{
  background-color: white;
  padding:0 20px;
  align-items: start;
  width: 300px;
}

/* footer */
.oo{
  background-color:black;
}
.foot{
  color: white;
  background: url(/IMAGES/stones.jpg)no-repeat center/cover ;
  text-align: center;
  padding-bottom: 1%;
}
.foot h1{
  padding-top: 5%;
}
footer{
  display: flex;
  color: white;
 }
 .last img{
  width: 20%;
  height: 30px;
  padding: 0 8px;
  border-radius: 50%;
 }
 .last h3{
  margin: 10px 0 20px 10%;
 }
 .foo {
  margin: 40px 0 0 50%;
 }
 .end{
  display: flex;
  color: white;
  margin-bottom: 0;
 }
 .p{
 margin-top: 1%;
 }
 .end img{
  height: 60%;
  margin:5px 0 0 10px;
 }

